<div class="haeder" >
    <div class="left-menu" >
       <div >
            <br><br><br>
               <div style="margin-left: 10%">
                    <p style=" color: #FFFFFF;">Channel name</p>
                    <p style=" color: #FFFFFF;">user name</p><br>



                     <div style="display: flex">
                            <div><span style="color: #FFFFFF; font-size: 16px" class="material-icons"> message </span></div><span>..</span>
                                 <div > <span style=" color: #FFFFFF;">Threads</span></div>
                                </div>
                            <p></p>
                              

                    <div style="display: flex">
                        <div><span style="color: #FFFFFF; font-size: 16px" class="material-icons"> blur_circular
                            </span></div><span>..</span>
                            <div > <span style=" color: #FFFFFF;">Mentions & reactions</span></div>
                            </div>
                            <p></p>

                    <div style="display: flex">
                        <div><span style="color: #FFFFFF; font-size: 16px" class="material-icons"> account_balance_wallet </span></div><span>..</span>
                        <div > <span style=" color: #FFFFFF;">Drafts</span></div>
                           </div>
                           <p></p>
                            
                   <div style="display: flex">
                           <div><span style="color: #FFFFFF; font-size: 16px" class="material-icons"> turned_in_not </span></div><span>..</span>
                                 <div > <span style=" color: #FFFFFF;">Saved items</span></div>
                                  </div>
                                  <p></p>

                  <div style="display: flex">
                        <div><span style="color: #FFFFFF; font-size: 16px" class="material-icons"> youtube_searched_for </span></div><span>..</span>
                            <div > <span style=" color: #FFFFFF;">Channel browser  </span></div>
                                   </div>
                                   <p></p>

                  <div style="display: flex">
                        <div><span style="color: #FFFFFF; font-size: 16px" class="material-icons"> contacts </span></div><span>..</span>
                             <div > <span style=" color: #FFFFFF;">People</span></div>
                                 </div>
                                 <p></p>

                     <div style="display: flex">
                             <div><span style="color: #FFFFFF; font-size: 16px" class="material-icons"> apps </span></div><span>..</span>
                                 <div > <span style=" color: #FFFFFF;"> Apps</span></div>
                                     </div>
                                      <p></p>


                   <div style="display: flex">
                      <div><span style="color: #FFFFFF; font-size: 16px" class="material-icons"> filter_none </span></div><span>..</span>
                          <div > <span style=" color: #FFFFFF;"> Files</span></div>
                              </div>
                              <p></p>

                  <div style="display: flex">
                        <div><span style="color: #FFFFFF; font-size: 16px" class="material-icons"> arrow_upward </span></div><span>..</span>
                           <div > <span style=" color: #FFFFFF;"> Show less</span></div>
                               </div>
                                
                    </div>
                </div>
                <hr>
        <div >
            
            <div style="margin-left: 10%">
            
                    <p style=" color: #FFFFFF;">Cannels</p>
                   
            </div>
            
        </div>
        <hr>
    </div>
   

    
</div>